<div class="row">

  <div class="col-xs-12 col-md-4">
    <%= form_tag('/users', method: :post) do %>
    <h5>
      注目記事投稿
    </h5>
    <div class="form-group">
      <input placeholder="画像" type="text" name="image" class='form-control'>
    </div>
    <div class="form-group">
      <textarea cols="70" name="text" placeholder="注目記事" rows="10" class='form-control'></textarea>
    </div>
    
    <div class="form-group">
      <input type="submit" value="SENT" class='btn btn-block btn-big btn-red'>
    </div>
    <% end %>

    <div class="col-xs-12 col-md-8">


    </div>
  </div>
</div>