<!-- PRELOADER -->
<!-- <div id="preloader">
    <div class="loader">
        <img src="img/loader.svg">
        <span>Please wait, loading...</span>
    </div>
</div> -->
<!-- HEADER -->
<header id="home" data-stellar-background-ratio="0.5">

    <!-- Navigation -->
    <nav id="navigation" class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#" class="logo-image"></a>
            </div>
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">

                <i class="fa fa-list"></i>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'バフェット詳細',"/investers/1"%></li>
                    <li><%= link_to 'マイページ',"/users/#{current_user.id}"%></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->

    <!-- Home container -->
    <div class="home-container container vertical-middle">
        <div class="row">

            <div class="col-md-6 txt-white">
                <h1>Get 50% access to our application</h1>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.
                </p>

                <!-- Form -->
                <form method="post" class="form-ajax">
                    <input type="hidden" name="form" value="Home form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your name... *" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="Your e-mail... *" required>
                        </div>
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-block btn-big btn-red">Get free</button>
                        </div>
                    </div>
                </form><!-- /Form -->

                <small>
                    * There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.
                </small>

            </div>

        </div>
    </div>
    <!-- /Home container -->

</header>
<!-- /HEADER -->

<!-- MAIN -->
<main class="main-container">

    <!-- SECTION: Clients or Partners -->
    <section id="clients" class="bg-grey pv">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <img src="img/partner.png">
                    </div>
                    <div class="item">
                        <img src="img/partner.png">
                    </div>
                    <div class="item">
                        <img src="img/partner.png">
                    </div>
                    <div class="item">
                        <img src="img/partner.png">
                    </div>
                    <div class="item">
                        <img src="img/partner.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /SECTION: Clients or Partners -->

    <!-- SECTION: Testimonials -->
    <section id="testimonials" class="section">
        <div class="container">

            <!-- Section header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <header>
                        <h2 class="section-title">What others are saying</h2>
                        <p class="section-subtitle text-muted">There are many variations of passages of Lorem Ipsum.</p>
                    </header>
                </div>
            </div><!-- /Section header -->

            <!-- Section content -->
            <!-- Testimonial -->
            <div class="row testimonial section-content">

                <div class="col-md-3 text-center text-muted testimonial-quote-icon">
                    <i class="fa fa-quote-left fa-3x"></i>
                </div>

                <div class="col-md-6 text-center">
                    <p class="testimonial-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="testimonial-author text-muted">
                        <span>John Doe</span>, Company Name
                    </p>
                </div>

                <div class="col-md-3 text-center">
                    <div class="testimonial-picture">
                        <img src="images/testimonials-author-1.jpg">
                    </div>
                </div>
            </div><!-- /Testimonial -->

            <!-- Testimonial -->
            <div class="row testimonial mt">

                <div class="col-md-3 text-center">
                    <div class="testimonial-picture">
                        <img src="images/testimonials-author-2.jpg">
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <p class="testimonial-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                    <p class="testimonial-author text-muted">
                        <span>John Doe</span>, Company Name
                    </p>
                </div>

                <div class="col-md-3 text-center text-muted testimonial-quote-icon">
                    <i class="fa fa-quote-left fa-3x"></i>
                </div>

            </div><!-- Testimonial -->
            <!-- /Section content -->

        </div>
    </section>
    <!-- /SECTION: Testimonials -->

    <!-- SECTION: Ready-To-Take -->
    <section id="ready-to-take" class="section-small bg-blue">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="txt-big txt-inline txt-white">There are many variations of passages</p>
                <button class="btn btn-big btn-white-transparent" data-toggle="modal" data-target="#get-modal">Get consultation now <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </section>
    <!-- /SECTION: Ready-To-Take -->

    <!-- SECTION: About -->
    <section id="about" class="section">
        <div class="container">

            <!-- Section header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <header>
                        <h2 class="section-title">A few words about</h2>
                        <p class="section-subtitle text-muted">There are many variations of passages of Lorem Ipsum.</p>
                    </header>
                </div>
            </div><!-- /Section header -->

            <!-- Section content -->
            <div class="row section-content">

                <!-- Left column -->
                <div class="col-md-4">

                    <!-- About block -->
                    <div class="about-block mt">
                        <div class="about-icon media-left text-center">
                            <i class="fa fa-html5 fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3>HTML5 & CSS3</h3>
                            <p class="text-muted text-justify">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or randomised words which don't look even slightly
                                believable.
                            </p>
                        </div>
                    </div><!-- /About block -->

                    <!-- About block -->
                    <div class="about-block mt">
                        <div class="about-icon media-left text-center">
                            <i class="fa fa-diamond fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3>Animation Effects</h3>
                            <p class="text-muted text-justify">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or randomised words which don't look even slightly
                                believable.
                            </p>
                        </div>
                    </div><!-- /About block -->

                </div>
                <!-- /Left column -->

                <!-- Center column -->
                <div class="col-md-4 text-center">

                    <!-- Center image -->
                    <div class="about-image mt">
                        <img src="images/iphone.jpg">
                    </div><!-- /Center image -->

                </div><!-- /Center column -->

                <!-- Right column -->
                <div class="col-md-4">

                    <!-- About block -->
                    <div class="about-block mt">
                        <div class="about-icon media-left text-center">
                            <i class="fa fa-font fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3>Google Fonts</h3>
                            <p class="text-muted text-justify">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or randomised words which don't look even slightly
                                believable.
                            </p>
                        </div>
                    </div><!-- /About block -->

                    <!-- About block -->
                    <div class="about-block mt">
                        <div class="about-icon media-left text-center">
                            <i class="fa fa-flag fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3>Font Awesome Icons</h3>
                            <p class="text-muted text-justify">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or randomised words which don't look even slightly
                                believable.
                            </p>
                        </div>
                    </div><!-- /About block -->

                </div><!-- Right column -->

            </div><!-- /Section content -->

        </div>
    </section>
    <!-- /SECTION: About -->

    <!-- SECTION: Form -->
    <section id="form" class="section bg-blue txt-white">
        <div class="container">

            <div class="col-md-5 col-md-offset-1">

                <header>
                    <h2 class="section-title">Get free 30 days period</h2>
                    <p class="section-subtitle">There are many variations of passages of Lorem Ipsum.</p>
                </header>

                <p class="txt-white txt-middle">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable.
                </p>

            </div>

            <div class="col-md-5">

                <div class="row">
                    <h3 class="text-center">There are many variations</h3>
                </div>

                <!-- Form -->
                <form method="post" class="form-ajax">
                    <input type="hidden" name="form" value="Page form">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input type="text" name="name" class="form-control" placeholder="Your name... *" required>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="email" name="email" class="form-control" placeholder="Your e-mail... *" required>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-block btn-big btn-red">Get free</button>
                        </div>
                    </div>
                </form><!-- /Form -->

            </div>

        </div>
    </section>
    <!-- /SECTION: Form -->

    <!-- SECTION: Features -->
    <section id="features" class="section">
        <div class="container">

            <!-- Section header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <header>
                        <h2 class="section-title">Features</h2>
                        <p class="section-subtitle text-muted">There are many variations of passages of Lorem Ipsum.</p>
                    </header>
                </div>
            </div><!-- /Section header -->

            <!-- Section content -->
            <div class="row section-content">

                <!-- Feature block -->
                <div class="col-md-6 mt">
                    <div class="media-left text-center">
                        <div class="feature-icon bg-blue txt-white">
                            <i class="fa fa-line-chart fa-4x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3>Lightweight & SEO</h3>
                        <p class="text-muted text-justify">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or randomised words which don't look even slightly
                            believable.
                        </p>
                    </div>
                </div><!-- /Feature block -->

                <!-- Feature block -->
                <div class="col-md-6 mt">
                    <div class="media-left text-center">
                        <div class="feature-icon bg-red txt-white">
                            <i class="fa fa-wrench fa-4x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3>Easy Customizable</h3>
                        <p class="text-muted text-justify">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or randomised words which don't look even slightly
                            believable.
                        </p>
                    </div>
                </div><!-- /Feature block -->

                <!-- Feature block -->
                <div class="col-md-6 mt">
                    <div class="media-left text-center">
                        <div class="feature-icon bg-orange txt-white">
                            <i class="fa fa-code fa-4x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3>Working Forms</h3>
                        <p class="text-muted text-justify">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or randomised words which don't look even slightly
                            believable.
                        </p>
                    </div>
                </div><!-- /Feature block -->

                <!-- Feature block -->
                <div class="col-md-6 mt">
                    <div class="media-left text-center">
                        <div class="feature-icon bg-green txt-white">
                            <i class="fa fa-gears fa-4x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3>24/7 Support</h3>
                        <p class="text-muted text-justify">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or randomised words which don't look even slightly
                            believable.
                        </p>
                    </div>
                </div><!-- /Feature block -->

            </div><!-- /Section content -->

        </div>
    </section>
    <!-- /SECTION: Features -->

    <!-- SECTION: Get-Today -->
    <section id="get-today" class="section-small bg-blue">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="txt-big txt-inline txt-white">There are many variations</p>
                <button class="btn btn-big btn-white-transparent" data-toggle="modal" data-target="#get-modal">Get 30% <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </section>
    <!-- /SECTION: Get-Today -->

    <!-- SECTION: Best Feature -->
    <section id="best-feature" class="section non-pb">
        <div class="container">

            <!-- Section header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <header>
                        <h2 class="section-title">Best Feature</h2>
                        <p class="section-subtitle text-muted">There are many variations of passages of Lorem Ipsum.</p>
                    </header>
                </div>
            </div><!-- /Section header -->

            <!-- Section content -->
            <div class="row section-content">

                <div class="col-md-8 col-md-offset-2 text-center">

                    <div class="best-feature-img">
                        <img src="images/macbook.jpg">
                    </div>

                </div>
            </div><!-- /Section content -->

        </div>
    </section>
    <!-- SECTION: /Best Feature -->

    <!-- SECTION: Contact -->
    <section id="contact" class="section bg-blue">
        <div class="container">

            <!-- Section header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center txt-white">
                    <header>
                        <h2 class="section-title">Contact</h2>
                        <p class="section-subtitle">There are many variations of passages of Lorem Ipsum.</p>
                    </header>
                </div>
            </div><!-- /Section header -->

            <!-- Section content -->
            <div class="row section-content">

                <!-- Contact form -->
                <div class="col-md-6 mt">
                    <form method="post" class="form-ajax">
                        <input type="hidden" name="form" value="Contact form">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" name="name" class="form-control" placeholder="Your name... *" required>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" name="email" class="form-control" placeholder="Your e-mail... *" required>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="message" class="form-control" placeholder="Your message..."></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-big btn-white">Send message</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /Contact form -->

                <!-- Contact information -->
                <div class="col-md-6 mt txt-white">

                    <div class="row">

                        <div class="col-md-12 text-justify">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here', making it look like readable English.
                        </div>

                        <div class="col-md-12 text-justify">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or randomised words which don't look even slightly
                            believable.
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 text-center contact-block mt">
                            <i class="fa fa-4x fa-mobile-phone"></i>
                            <span>+1 (111) 111-11-11</span>
                        </div>

                        <div class="col-md-4 text-center contact-block mt">
                            <i class="fa fa-4x fa-envelope"></i>
                            <span>mail@example.com</span>
                        </div>

                        <div class="col-md-4 text-center contact-block mt">
                            <i class="fa fa-4x fa-home"></i>
                            <span>example.com</span>
                        </div>

                    </div>


                </div><!-- /Contact information -->

            </div><!-- /Section content -->

        </div>
    </section>
    <!-- /SECTION: Contact -->

</main>
<!-- /MAIN -->


<!-- FOOTER -->
<footer class="section-small">
    <div class="container">
        <div class="row">

            <!-- Copyright -->
            <div class="col-md-6">
                <p>Copyright © 2012-2016 Company Name</p>
            </div><!-- /Copyright -->

            <!-- Social buttons -->
            <div class="col-md-6">
                <div class="footer-social">
                    <a class="fa fa-facebook" href="#"></a>
                    <a class="fa fa-twitter" href="#"></a>
                    <a class="fa fa-google-plus" href="#"></a>
                    <a class="fa fa-instagram" href="#"></a>
                </div>
            </div><!-- /Social buttons -->

        </div>
    </div>
</footer>
<!-- /FOOTER -->
